<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App-gastos: <%= group.name %></title>
  <link rel="stylesheet" href="/public/group-page-styles.css">
</head>
<body>
  <div class="container">
    <header class="item1 header">
      <span class="page-logo">App gastos</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="24" viewBox="0 0 40 24" fill="none"><path d="M3 12H37M3 3H37M3 21H37" stroke="black" stroke-width="5" stroke-linecap="square" stroke-linejoin="round"/>
</svg></header>
    <main class="item2 main">
      <h1 class="title"><%= group.name %></h1>
      <ul class="members-list">
        <% for(let user of group.users) { %>
          <li class="member">
            <figure class="profile-picture"></figure>
            <div class="person-name positive-balance-name"><%= user.name %></div>
            <% if(user.total_balance > 0) { %>
              <div class="person-balance balance-positive">+<%= user.total_balance ?? "-"  %></div>
            <% } else if(user.balance < 0) { %>
              <div class="person-balance balance-negative">-<%= user.total_balance ?? "-"  %></div>
            <% } else { %>
              <div class="person-balance">0</div>
            <% } %>
          </li>
        <% }%>
      </ul>
    </main>
    <footer class="item3 footer">
      <span><p>Tu balance</p><p class="balance-positive">$200</p></span>
      <span><p>Tu balance</p><p class="balance-positive">$200</p></span>
    </footer>
  </div>
</body>
</html>